<form method="post" action="/events/user">
    <input type="text" name="aUser.Username"/>
    <input type="email" name="aUser.Email" />
    <input type="password" name="aUser.Password" />
    <input type="password" name="passwordCheck" />
</form>